#PiglinModel
public net.minecraft.client.renderer.entity.model.PiglinModel func_230486_a_(Lnet/minecraft/entity/MobEntity;F)V #func_230486_a_

# BipedModel
public net.minecraft.client.renderer.entity.model.BipedModel func_230486_a_(Lnet/minecraft/entity/LivingEntity;F)V #func_230486_a_
public net.minecraft.client.renderer.entity.model.BipedModel func_241655_c_(Lnet/minecraft/entity/LivingEntity;)V #func_241655_c_
public net.minecraft.client.renderer.entity.model.BipedModel func_241654_b_(Lnet/minecraft/entity/LivingEntity;)V #func_241654_b_

# PotionBrewing
public net.minecraft.potion.PotionBrewing func_193357_a(Lnet/minecraft/potion/Potion;Lnet/minecraft/item/Item;Lnet/minecraft/potion/Potion;)V #addMix
